{% extends 'flatpages/default.html' %}
{% load custom_tags %}

{% block title %}
Поиск постов
{% endblock title %}

{% block content %}
<h1>Поиск статьи</h1>
    <form action="" method="get">
        {{ filterset.form.name__icontains.error }}
        {# Переменная которую передали через контекст, может сгенерировать нам форму с полями #}
        {{ filterset.form.as_p }}
        {# Добавим кнопку отправки данных формы #}
        <input type="submit" value="Найти" />
    </form>
<hr>
{% if news_search|length %}
    {% for post in news_search %}
        {{ post.post_title }}
        <br>
        {{ post.category_type }}
            {% for cat in post.post_category.all %}
                {{ cat.category_name }}
                <br>
            {% endfor %}

        {{ post.post_date|date:'d M Y'}}
        <br>
        {{ post.post_text|truncatewords:5}}
        <hr>
    {% endfor %}
{% else %}
    <h1>Извините на данный момент статей нет</h1>
{% endif %}

{% if page_obj.has_previous %}
    <a href="?{% url_replace page=1 %}">1</a>
    {% if page_obj.previous_page_number != 1 %}
    ...
    <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number}}</a>
    {% endif %}
{% endif %}

{{ page_obj.number }}

{% if page_obj.has_next %}
    <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
    {% if paginator.num_pages != page_obj.next_page_number %}
    ...
    <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
    {% endif %}
{% endif %}

{% endblock content %}

