{% extends 'flatpages/default.html' %}
{% load censor_filters %}

{% block title %}
News
{% endblock title %}

{% block content %}
<h1>Все статьи</h1>
{{ news|length }}
<hr>
{% if news|length %}
    {% for post in news %}
        {{ post.post_title }}
        <br>
        {{ post.category_type }}
        {{ post.post_date|date:'d M Y'}}
        <br>
        {{ post.post_text|truncatechars:21}}
        <hr>
    {% endfor %}
{% else %}
    <h1>Извините на данный момент статей нет</h1>
{% endif %}

{% if page_obj.has_previous %}
    <a href="?page=1">1</a>
    {% if page_obj.previous_page_number != 1 %}
    ...
    <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number}}</a>
    {% endif %}
{% endif %}

{{ page_obj.number }}

{% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
    {% if paginator.num_pages != page_obj.next_page_number %}
    ...
    <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
    {% endif %}
{% endif %}

{% endblock content %}

