<!DOCTYPE html>
{% load i18n %}
{% load tz %}
{% load static %}

<html lang="en">
{% load cache %}
{% cache 1 head %}

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %}{% endblock title %}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        {% load static %}
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
{% endcache %}
    <style>
    table {
   border: 1px solid #99999FFF;
}
th {
   border: 1px solid #99999FFF;
}

td {
   border: 1px solid #99999FFF;
}

table {
   width: 100%;
}
</style>
{% cache 1 body %}
    <body>

        <!-- Responsive navbar-->
       <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
            <div class="container">
                <a class="navbar-brand" href="#">Django First Site</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarResponsive"
                        aria-controls="navbarResponsive" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">



    <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/admin/">{% translate "Admin" %}
                <span class="sr-only"></span>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/accounts/login/">{% translate "Login/Registration" %}
                <span class="sr-only"></span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/news/">{% translate "Articles" %}</a>
        </li>
        {% if request.user.is_authenticated %}
         <li class="nav-item">
            <a class="nav-link" href="/news/create/">{% translate "Write News" %}</a>
        </li>
         <li class="nav-item">
            <a class="nav-link"
               href="/news/articles/create/">{% translate "Write Articles" %}</a>
        </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="/news/search/">{% translate "Search" %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               href="/subscriptions/">{% translate "Subscribe to categories" %}
            </a>
        </li>

            <form action="{% url 'set_language' %}" method="POST"> {% csrf_token %}
                <input type="hidden" name="next" value="{{ redirect_to }}">
                {% get_current_language as LANGUAGE_CODE %}
                     <select name="language" id="">
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                        <option value="{{ language.code }}"
                            {% if language.code == LANGUAGE_CODE %} selected
                            {% endif %}>
                            {{ language.name_local }} - {{ language.code }}
                        </option>
                        {% endfor %}
                    </select>
                <input type="submit" value="ok">
            </form>
    </ul>
                </div>
            </div>
        </nav>
{% endcache %}
                 <style>
                        body {background-color: {% if current_time.hour >= 19 or current_time.hour <= 7 %} #eac387 {% else %} #fdffff {% endif %};}
                 </style>
                             {% get_current_timezone as TIME_ZONE %}
                                            <form action="" method="POST">
                                                {% csrf_token %}
                                                <label for="timezone">Time zone:</label>
                                                <select name="timezone">
                                                    {% for tz in timezones %}
                                                    <option value="{{ tz }}" {% if tz == TIME_ZONE %}selected
                                                    {% endif %}>{{ tz }}</option>
                                                    {% endfor %}
                                                </select>
                                                <input type="submit"
                                                       value="ok">
                                            </form>
                                             {{ TIME_ZONE }}
                                             {{ current_time|timezone:TIME_ZONE }}


        <!-- Page content -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    {% block content %}
                    {% endblock content %}
                </div>
            </div>
        </div>
    </body>
</html>
